interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.1/31;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 172.10.10.4/24;
            }
        }
    }
    ge-0/0/5 {
        unit 0 {
            family inet {
                address 192.168.1.1/24;
            }
        }
    }     
}
routing-options {                       
    static {                            
        route 192.168.2.0/24 next-hop 192.168.2.1;
    }                                   
}
protocols {
    ospf {
        area 0.0.0.10 {
            interface ge-0/0/0;
            interface ge-0/0/4;
            interface ge-0/0/5;
        }
        lldp {                              
            interface all;                  
        }  
    }
}