interfaces {
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.0.0.2/31;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                address 172.10.10.31/24;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                address 192.168.2.1/24;
            }
        }
    }
}
routing-options {                       
    static {                            
        route 192.168.1.0/24 next-hop 192.168.1.1;

    }                                   
}
protocols {
    ospf {
        area 0.0.0.10 {
            interface ge-0/0/2;
            interface ge-0/0/3;
            interface ge-0/0/4;
        } 
    }
}