chassis {
    fpc 0 {
        sampling-instance instance-1;
        inline-services {
            flow-table-size {
                ipv4-flow-table-size 7;
            }
        }
    }
}
services {
    flow-monitoring {
        version-ipfix {
            template ipix {
                flow-active-timeout 100;
                flow-inactive-timeout 50;
                template-refresh-rate {
                    seconds 10;
                }
                ipv4-template;          
            }                           
        }                               
    }                                   
} 
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.60/31;
            }
            family inet6 {
                address fd00::60/127;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.66/31;
            }
            family inet6 {
                address fd00::66/127;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.84/31;
            }
            family inet6 {
                address fd00::84/127;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.162/31;
            }
            family inet6 {
                address fd00::162/127;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.186/32;
            }
            family inet6 {
                address fd00::186/128;
            }
        }
    }
    ge-0/0/5 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.71/31;
            }
            family inet6 {
                address fd00::71/127;
            }
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.161/31;
            }
            family inet6 {
                address fd00::161/127;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.4/31;
            }
            family inet6 {
                address fd00::4/127;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                address 172.10.10.6/24;
            }
        }
    }
}
forwarding-options {                    
    sampling {                          
        instance {                      
            instance-1 {                
                input {                 
                    rate 1;             
                }                       
                family inet {           
                    output {            
                        flow-server 172.10.10.110 {
                            port 2055;  
                            version-ipfix {
                                template {
                                    ipix;
                                }       
                            }           
                        }
                        flow-server 172.10.10.114 {
                            port 2055;
                            version-ipfix {
                                template {
                                    ipix;
                                }
                            }
                        }
                        inline-jflow {  
                            source-address 172.10.10.6;
                            flow-export-rate 6;
                        }               
                    }                   
                }                       
            }                           
        }                               
    }                                   
}                                       
firewall {                              
    family inet {                       
        filter inet-sample {            
            term t1 {                   
                then {                  
                    sample;             
                    accept;             
                }                       
            }                           
        }                               
    }                                   
}
snmp {
    view all {
        oid .1;
    }
    client-list 172.10.10.115;
    community public {
        view all;
        authorization read-write;
        clients {
            172.10.10.0/24;
        }
    }
}
protocols {
    ospf {
        area 0.0.0.10 {
                interface ge-0/0/0;
                interface ge-0/0/1;
                interface ge-0/0/2;
                interface ge-0/0/3;
                interface ge-0/0/4;
                interface ge-0/0/5;
                interface ge-0/0/6;
                interface lo0;
        }
    }
    lldp {
        interface all;
    }
}