chassis {
    fpc 0 {
        sampling-instance instance-1;
        inline-services {
            flow-table-size {
                ipv4-flow-table-size 7;
            }
        }
    }
}
services {
    flow-monitoring {
        version-ipfix {
            template ipix {
                flow-active-timeout 100;
                flow-inactive-timeout 50;
                template-refresh-rate {
                    seconds 10;
                }
                ipv4-template;          
            }                           
        }                               
    }                                   
} 
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.64/31;
            }
            family inet6 {
                address fd00::64/127;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.74/31;
            }
            family inet6 {
                address fd00::74/127;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.122/31;
            }
            family inet6 {
                address fd00::122/127;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.178/31;
            }
            family inet6 {
                address fd00::178/127;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.202/32;
            }
            family inet6 {
                address fd00::202/128;
            }
        }
    }
    ge-0/0/5 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.99/31;
            }
            family inet6 {
                address fd00::99/127;
            }
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.115/31;
            }
            family inet6 {
                address fd00::115/127;
            }
        }
    }
    ge-0/0/7 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.117/31;
            }
            family inet6 {
                address fd00::117/127;
            }
        }
    }
    ge-0/0/8 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.119/31;
            }
            family inet6 {
                address fd00::119/127;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.121/31;
            }
            family inet6 {
                address fd00::121/127;
            }
        }
    }
    ge-0/0/10 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.131/31;
            }
            family inet6 {
                address fd00::131/127;
            }
        }
    }
    ge-0/0/11 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.135/31;
            }
            family inet6 {
                address fd00::135/127;
            }
        }
    }
    ge-0/0/12 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.167/31;
            }
            family inet6 {
                address fd00::167/127;
            }
        }
    }
    ge-0/0/13 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.169/31;
            }
            family inet6 {
                address fd00::169/127;
            }
        }
    }
    ge-0/0/14 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.171/31;
            }
            family inet6 {
                address fd00::171/127;
            }
        }
    }
    ge-0/0/15 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.175/31;
            }
            family inet6 {
                address fd00::175/127;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.38/31;
            }
            family inet6 {
                address fd00::38/127;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                address 172.10.10.37/24;
            }
        }
    }
}
forwarding-options {                    
    sampling {                          
        instance {                      
            instance-1 {                
                input {                 
                    rate 1;             
                }                       
                family inet {           
                    output {            
                        flow-server 172.10.10.110 {
                            port 2055;  
                            version-ipfix {
                                template {
                                    ipix;
                                }       
                            }           
                        }
                        flow-server 172.10.10.114 {
                            port 2055;
                            version-ipfix {
                                template {
                                    ipix;
                                }
                            }
                        }
                        inline-jflow {  
                            source-address 172.10.10.37;
                            flow-export-rate 6;
                        }               
                    }                   
                }                       
            }                           
        }                               
    }                                   
}                                       
firewall {                              
    family inet {                       
        filter inet-sample {            
            term t1 {                   
                then {                  
                    sample;             
                    accept;             
                }                       
            }                           
        }                               
    }                                   
}
snmp {
    view all {
        oid .1;
    }
    client-list 172.10.10.115;
    community public {
        view all;
        authorization read-write;
        clients {
            172.10.10.0/24;
        }
    }
}
protocols {
    ospf {
        area 0.0.0.10 {
                interface ge-0/0/0;
                interface ge-0/0/1;
                interface ge-0/0/2;
                interface ge-0/0/3;
                interface ge-0/0/4;
                interface ge-0/0/5;
                interface ge-0/0/6;
                interface ge-0/0/7;
                interface ge-0/0/8;
                interface ge-0/0/9;
                interface ge-0/0/10;
                interface ge-0/0/11;
                interface ge-0/0/12;
                interface ge-0/0/13;
                interface ge-0/0/14;
                interface ge-0/0/15;
                interface lo0;
        }
    }
}