interfaces {
{%- for interface in device.interfaces.all() -%}
    {%- set name = interface.name.split('.')[0].split(':')[0] -%}
    {%- set ip_list = interface.ip_addresses.all() -%}
    {% if ip_list | length >= 1 %}
    {{ name }} {
        unit 0 {
            family inet {
                address {{ ip_list[0].address }};
            }
            {%- if ip_list | length >= 2 %}
            family inet6 {
                address {{ ip_list[1].address }};
            }
            {%- endif %}
        }
    }
    {%- endif %}
{%- endfor %}
    ge-0/0/9 {
        unit 0 {
            family inet {
                address {{ lab[device.name].ipv4 }}/24;
            }
        }
    }
}
snmp {                                  
    view all {                          
        oid .1;                         
    }                                   
    client-list {{ stack.Zabbix.server }};
    community public {                  
        view all;                       
        authorization read-write;       
        clients {                       
            172.10.10.0/24;             
        }                               
    }                                   
}
protocols {
    ospf {
        area 0.0.0.10 {
            {%- for interface in device.interfaces.all() %}
                {%- if interface.ip_addresses.all() %}
                interface {{interface.name.split('.')[0].split(':')[0]}};
                {%- endif %}
            {%- endfor %}
        }
    }
    lldp {
        interface all;
    }
}