sysname node3

snmp-agent trap type base-trap

acl number 2001
 rule 5 permit source 172.10.10.0 0.0.0.255

interface LoopBack0
 ip address 10.0.0.3 255.255.255.255
 ospf network-type p2p
 lldp enable
 ospf enable 1 area 0.0.0.10


interface Ethernet1/0/1
 ip address 10.0.0.17 255.255.255.252
 ospf network-type p2p
 lldp enable
 ospf enable 1 area 0.0.0.10

interface Ethernet1/0/0
 ip address 10.0.0.13 255.255.255.252
 ospf network-type p2p
 lldp enable
 ospf enable 1 area 0.0.0.10

interface Ethernet1/0/9
 ip address 172.10.10.203 255.255.255.0
 ospf network-type p2p
 lldp enable
 ospf enable 1 area 0.0.0.10

ospf 1 router-id 10.0.0.3
 area 0.0.0.10

snmp-agent
snmp-agent acl 2001
snmp-agent community read cipher %^%#e_%K6uE+X5:z0j&l4$B.xqSo"iETQ>em)X,vM4CYrj*VM%%)eB0|D:3Z._MLN`$W'A\w)C(hvmYU7{c:%^%#
snmp-agent sys-info version v2c v3