chassis {
    fpc 0 {
        sampling-instance instance-1;
        inline-services {
            flow-table-size {
                ipv4-flow-table-size 7;
            }
        }
    }
}
services {
    flow-monitoring {
        version-ipfix {
            template ipix {
                flow-active-timeout 100;
                flow-inactive-timeout 50;
                template-refresh-rate {
                    seconds 10;
                }
                ipv4-template;          
            }                           
        }                               
    }                                   
}
snmp {                                  
    view all {                          
        oid .1;                         
    }                                   
    client-list 172.10.10.114;
    community public {                  
        view all;                       
        authorization read-write;       
        clients {                       
            172.10.10.0/24;             
        }                               
    }                                   
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.110/31;
            }
            family inet6 {
                address fd00::110/127;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.159/31;
            }
            family inet6 {
                address fd00::159/127;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.197/32;
            }
            family inet6 {
                address fd00::197/128;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.10/31;
            }
            family inet6 {
                address fd00::10/127;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                address 172.10.10.12/24;
            }
        }
    }
}
forwarding-options {                    
    sampling {                          
        instance {                      
            instance-1 {                
                input {                 
                    rate 1;             
                }                       
                family inet {           
                    output {            
                        flow-server 172.10.10.114 {
                            port 2055;  
                            version-ipfix {
                                template {
                                    ipix;
                                }       
                            }           
                        }               
                        inline-jflow {  
                            source-address 172.10.10.12;
                            flow-export-rate 6;
                        }               
                    }                   
                }                       
            }                           
        }                               
    }                                   
}                                       
firewall {                              
    family inet {                       
        filter inet-sample {            
            term t1 {                   
                then {                  
                    sample;             
                    accept;             
                }                       
            }                           
        }                               
    }                                   
}
protocols {
    ospf {
        area 0.0.0.10 {
                interface ge-0/0/0;
                interface ge-0/0/1;
                interface ge-0/0/2;
                interface lo0;
        }
    }    
    lldp {                              
        interface all;                  
    }  
    
}