chassis {
    fpc 0 {
        sampling-instance instance-1;
        inline-services {
            flow-table-size {
                ipv4-flow-table-size 7;
            }
        }
    }
}
services {
    flow-monitoring {
        version-ipfix {
            template ipix {
                flow-active-timeout 100;
                flow-inactive-timeout 50;
                template-refresh-rate {
                    seconds 10;
                }
                ipv4-template;          
            }                           
        }                               
    }                                   
} 
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.124/31;
            }
            family inet6 {
                address fd00::124/127;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.111/31;
            }
            family inet6 {
                address fd00::111/127;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.113/31;
            }
            family inet6 {
                address fd00::113/127;
            }
        }
    }
    ge-0/0/3 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.185/32;
            }
            family inet6 {
                address fd00::185/128;
            }
        }
    }
    ge-0/0/4 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.211/32;
            }
            family inet6 {
                address fd00::211/128;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                filter {
                    input inet-sample;
                }
                address 10.0.0.18/31;
            }
            family inet6 {
                address fd00::18/127;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                address 172.10.10.18/24;
            }
        }
    }
}
forwarding-options {                    
    sampling {                          
        instance {                      
            instance-1 {                
                input {                 
                    rate 1;             
                }                       
                family inet {           
                    output {            
                        flow-server 172.10.10.110 {
                            port 2055;  
                            version-ipfix {
                                template {
                                    ipix;
                                }       
                            }           
                        }               
                        inline-jflow {  
                            source-address 172.10.10.18;
                            flow-export-rate 6;
                        }               
                    }                   
                }                       
            }                           
        }                               
    }                                   
}                                       
firewall {                              
    family inet {                       
        filter inet-sample {            
            term t1 {                   
                then {                  
                    sample;             
                    accept;             
                }                       
            }                           
        }                               
    }                                   
}
protocols {
    ospf {
        area 0.0.0.10 {
                interface ge-0/0/0;
                interface ge-0/0/1;
                interface ge-0/0/2;
                interface ge-0/0/3;
                interface ge-0/0/4;
                interface lo0;
        }
    }
}