interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.0.0.0/31;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.0.0.5/31;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.0.0.101/32;
            }
        }
    }
    ge-0/0/9 {
        unit 0 {
            family inet {
                address 172.10.10.201/24;
            }
        }
    }
}
snmp {                                  
    view all {                          
        oid .1;                         
    }                                   
    client-list 172.10.10.115;
    community public {                  
        view all;                       
        authorization read-write;       
        clients {                       
            172.10.10.0/24;             
        }                               
    }                                   
}
protocols {
    ospf {
        area 0.0.0.10 {
                interface ge-0/0/0;
                interface ge-0/0/1;
                interface lo0;
        }
    }
    lldp {
        interface all;
    }
}