# Zabbix
ZABBIX_TOKEN=zabbixtoken
ZABBIX_URL=http://yourdomain/api_jsonrpc.php # Ajuste para o seu ambiente
ZABBIX_USER=Admin
ZABBIX_PASSWORD=zabbix
ZABBIX_GROUP=Juniper  # Grupo onde os hosts serão adicionados
ZABBIX_TEMPLATE="Juniper by SNMP" # Template a ser associado

# Netbox
NETBOX_URL=http://yourdomain/api
NETBOX_TOKEN=netboxtoken

# Devices
DEVICE_USERNAME=
DEVICE_PASSWORD=
DEVICE_PORT= # Default 22
DEVICE_ENABLE=
DEVICE_SECRET=